* {
  background-color: black;
  color: white;
}

.manifesto4 {
  font-size: small;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 10px;
  text-align: center;
  padding: 10px 0;
  background-color: black; /* Ensuring black background */
}

.manifesto4 a {
  font-size: medium;
  display: inline-block;
  background-color: red;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.manifesto4 a:hover {
  background-color: darkred;
}
